    <div class="row-fluid">
      <div>
        <div class="span3">
          <div class="well sidebar-nav">
            <span class="nav-header"></span>
            <ul class="nav nav-list">
            {{#each item in controllers.application.rangeNavItems}}
              <li {{bindAttr class="item.cssClass"}}><a {{action 'filterHappeningsByRange' rangeNavItems item}}> {{item.title}} </a></li>
            {{/each}}
            </ul>
          </div>


          <div class="well sidebar-nav">
            <span class="nav-header"></span>
            <ul class="nav nav-list">
            {{#each item in controllers.application.categoryNavItems}}
              <li {{bindAttr class="item.cssClass"}}><a {{action 'filterHappeningsByCategory' categoryNavItems item}}> {{item.title}} </a></li>
            {{/each}}
            </ul>
          </div>

        </div>
        <div class="span9">
					{{outlet}}
        </div>
      </div>
    </div>


